.MinecraftIcon{
    margin-left: 2.5px;
    margin-top: 2.5px;
    width: 6.5%;
    float: left;
}
.Titulo{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 3rem;
    margin-right: 91.67px;
}
.Menu{
    background-color:rgb(230, 240, 238);
}
.Paginas{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px
}
.Targeta{
    background-color: white;
    border: 2px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    display: inline-block;
}
.ContenedorDeImagenTargeta{
    width: 100%;
    position: relative;
    height: 280px;
}
.ContenedorDeTextoTargeta{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    width: 100%;
    background-color: indianred;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imgAnimales{
    width:90%;   
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ContenedorDeTargetas{
    margin-left: 96.67px;
    display: inline-block;
}
.Targeta a{
    text-decoration: none;
}
.Targeta:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.65);
    background-color: hsl(207, 100%, 98.75%);
}