.MinecraftIcon{
    margin-left: 2.5px;
    margin-top: 2.5px;
    width: 6.5%;
    float: left;
}
.Titulo{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 3rem;
    margin-right: 60px;
}
.Menu{
    background-color:rgb(230, 240, 238);
}
.Paginas{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px
}
.Targeta{
    background-color: white;
    border-color: black;
    border-width: 4px, 4px, 4px, 4px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.ContenedorDeTargetas{
    margin-left: 62.5;
}


