.MinecraftIcon{
    margin-left: 2.5px;
    margin-top: 2.5px;
    width: 6.5%;
    float: left;
}
.Titulo{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 3rem;
    margin-right: 91.67px;
}
.Menu{
    background-color:rgb(230, 240, 238);
}
.Paginas{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px
}
.Targeta{
    background-color: white;
    border: 2px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 280px;
}
.ContenedorDeImagenTargeta{
    width: 100%;
    position: relative;
}
.ContenedorDeTextoTargeta{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    width: 100%;
    background-color: indianred;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imgAnimales{
    width:90%;   
    display: block;
    position: absolute;
    transform: translate(10px,50px);
}
.ContenedorDeTargetas{
    margin-left: 96.67px;
    display: inline-block;
}


